.u-mb-small {
  margin-bottom: 2rem;
}
.u-mb-medium {
  margin-bottom: 4rem;
}
.u-mb-large {
  margin-bottom: 7rem;
}

.u-mt-small {
  margin-top: 2rem;
}
.u-mt-medium {
  margin-top: 4rem;
}
.u-mt-large {
  margin-top: 7rem;
}
