@use '../abstracts/variables' as *;


// Containing reusable styling for string lettering.
@mixin stringIndicator {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -1.1rem;
    left: -3rem;
    text-align: center; 
}

@mixin subtleBorder {
    border: 1px solid $color-gray-100;
}
