
// COLORS
$color-black: #000;
$color-white: #fff;
$color-success: rgb(0, 118, 0);

$color-gray-100: rgb(211, 211, 211);
$color-gray-300: rgb(153, 153, 153);
$color-gray-500: rgb(116, 116, 116);
$color-gray-700: rgb(67, 67, 67);
$color-gray-900: rgb(41, 41, 41);

$color-primary-100: rgb(160, 171, 255);
$color-primary-300: rgb(40, 65, 255);
$color-primary-500: rgb(0, 22, 192);
$color-primary-700: rgb(0, 16, 136);
$color-primary-900: rgb(0, 9, 73);


// GUITAR COLORS

$color-neck: #4f3715;
$color-fret: #d7d6d6;
$color-fret-shadow: #777777;
$color-dot: #b5b5b5;
$color-higher-string: #aca89e;
$color-higher-string-shadow:rgb(56, 56, 52);
$color-lower-string: #af9851;
$color-lower-string-shadow:rgb(87, 74, 32);


// GUITAR DIMENSIONS
$neck-height: 25rem;
$neck-width: 80%;
$nut-width: 0.4rem;