
// COLORS
$color-black: #000;
$color-white: #fff;


$color-gray-100: rgb(211, 211, 211);
$color-gray-300: rgb(153, 153, 153);
$color-gray-500: rgb(116, 116, 116);
$color-gray-700: rgb(67, 67, 67);
$color-gray-900: rgb(41, 41, 41);



// GUITAR COLORS

$color-neck: #4f3715;
$color-fret: #d7d6d6;
$color-fret-shadow: #777777;
$color-dot: #383530;
$color-string: #af9851;
$color-string-shadow:rgb(87, 74, 32);


// GUITAR DIMENSIONS
$neck-height: 25rem;
$neck-width: 100%;