@use '../abstracts/' as *;
@use '../base/' as *;

.tooltip-panel{
    background-color: $color-info-100;
    color: $color-gray-900;;
    font-size: 2rem;
    padding: 2rem 2rem;
    border-radius: $border-radius-2;
    @include shadow-2;

    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 100;

    transform-origin: top right;
    animation: openTooltip 0.3s;
    
}