.container {
    
    &__tabs {
        text-align: center;
        padding: 10rem 4rem;
    }
    &__buttons {
        position: relative;
    }
}

.details {
    text-align: start;
    margin-bottom: 10rem;
    font-size: 2rem;

    &__form-group {
        display: inline-block;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 5fr;
        
        & input[type='text'] {
            font-size: 2rem;
            width: 30rem;
            // transform: translateX(-10rem);
        }
    }

    &__label {
        
    }

}
