@use '../abstracts/' as *;

.flex-container {
    margin: 10rem 0rem;
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem

}

.tab-container {
    flex: 1 1 75%;
    text-align: center;
    padding: 0rem 4rem;
    
    &__tabs {
    }
    &__buttons {
        position: relative;
    }
}

.details {
    font-size: 2rem;
    
    &__form-group {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    &__input {
        flex: 1;
        border: 1px solid $color-gray-100;
        border-radius: $border-radius-3;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        width: 12rem;
        background-color: $color-off-white;
    }

    &__label {
        flex: 0 0 7rem;
    }

}
