    @use "../abstracts/" as *;

    .btn {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;



    &--add {
        background-color: $color-background-4;
        width: 8rem;
        height: 8rem;
        font-size: 3rem;
        transition: all 0.4s;
        @include shadow-2;

        &:hover, &:focus {
            background-color: darken($color-background-4, 10);
            @include shadow-4;
            transform: scale(1.1);

            & svg {
                transition: all 0.4s;
                transform: rotate(360deg);
            }
        }
    }

    &--action {
        height: 6rem;
        width: 6rem;
        font-size: 3rem;
        border-radius: 0;
        border: 1px solid rgba($color-gray-300, 0.2);        
        background-color: rgba($color-white,0.3);      
        color: $color-gray-900; 
        
        
        & svg {
            transition: all 0.3s;    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        &:hover svg {
            transform: translate(-50%, -50%) scale(1.5);
        }
        
        &:last-child:hover svg {
            transform: translate(-50%, -50%) scale(1.4);
        }
        
        &:first-child {
            background-color: rgba($color-white,0.6);                                                                             
        }
        
        &:last-child {
            border-top-right-radius: $border-radius;
            background-color: rgba($color-white, 0.1);
        }
        
    }
    
    
    &--legend {
        background-color: $color-gray-500;
        color: $color-gray-900;
        font-size: 2rem;
        width: 40%;
        height: 6rem;
        margin-bottom: 1rem;
        text-transform: none;
    }
}
