@use '../abstracts/' as *;

.dropdown {
    position: relative;
    // background-color: $color-background-5;
    border-radius: $border-radius-3;
    overflow: hidden;
    @include shadow-1;

    &__select {
        background-color: transparent;
        border: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        cursor:pointer;

        &:focus {
            outline: none;
            // border: 3px solid black;
        }

    }
    
 

    &::before,
    &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 0;
        height: 100%;
        width: 20%;
    }

    // Arrow background
    &::before {
        background-color: $color-background-4;
    }

    // Arrow
    &::after {
        content: '⯆';
        text-align: center;
        padding-top: 0.25rem;
    }

    &:focus &::before {
        border-right: solid 1px black;
        outline: black solid 1px;
        background-color: red;
    }

    &--tuning {
        background-color: $color-background-5;
        font-size: 1.2rem;
        
        & select {
            padding: 0.2rem;
            padding-right: 3rem;
            padding-left: 0.7rem;

            &:hover, &:focus, &:target {
                background-color: darken($color-background-5, 10%);
            }

            & option {
                background-color: $color-background-5;
                &:nth-child(2n) {
                    background-color: darken($color-background-5, 10%);
                }

                &:hover {
                    background-color: red;
                    box-shadow: 0 0 10px 100px red inset;
                }
            }
        }

    }

    &--tuner {
        background-color: $color-background-5;
        width: 50%;
        font-size: 1.2rem;

        & select {
            padding: 0.5rem 0.1rem;
        }

        &::before {
            background-color: transparent;
        }

        &::after {
            
        }
    }
}