@use "../abstracts" as *;

.guitar {
    
    margin-top: 5rem;
    &__neck {
        position: relative;
        display: block;
        margin: 0 auto;
        background-color: $color-neck;
        height: $neck-height;
        width: $neck-width;
    }

    ::selection {
        background-color: transparent;
    }


    &__container-strings {
        position: absolute;
        top: 10%;
        left: 0%;
        height: 80%;
        width: 100%;
        
    }

    &__string {
        width: 100%;
        position: absolute;
        z-index: 2;
        
        // For looping 6 strings with proper spacing and size.
        @for $i from 1 to 7 {
            &--#{$i} {
                top: calc(20% * #{$i} - 20%);
                height: calc(0.35rem + 0.04rem * #{$i});
                @if ($i < 3)  {
                    background-color: $color-higher-string;
                    border-bottom: calc((0.3rem + 0.05rem * #{$i}) / 2) solid  $color-higher-string-shadow;
                } @else {
                    background-color:  $color-lower-string;
                    border-bottom: calc((0.3rem + 0.05rem * #{$i}) / 2) solid  $color-lower-string-shadow;
                }
            }
        }
    }
    
    &__tuner {
        position: absolute;
        left: -11rem;
        
        // For looping 6 tuners with proper spacing and size.
        @for $i from 1 to 7 {
            &--#{$i} {
                top: calc(20% * #{$i} - 23.5%);
                height: calc(0.35rem + 0.04rem * #{$i});
            }
        }
        
    }

    &__tuning {
        position: absolute;
        top: -2rem;
        left: -11rem;
    }

    &__note {
        display:inline-block;
        width: calc(95% / 23);
        height: 3rem;
        text-align: center;
        color: transparent;
        padding-top: 0.8rem;
        
        
        transform: translateY(-1.4rem);
        
        
        &:hover {
            cursor: pointer;
            background-color: rgba($color-gray-100,0.8);
            border-radius: 10px;
            color: $color-gray-900;
        }

        &--first {
            position: absolute;
            transform:translate(-5.6rem, -1.4rem) ;
        }
    }

    // Each fret styled with for-loop
    &__fret {
        @for $i from 1 to 25 {
            &--#{$i} {
                position: absolute;
                top: 0;
                left: calc((95% / 23) * #{$i});
                height: $neck-height;
                width: 0.4rem;
                z-index: 1;
                background-color: $color-fret;
                border-right: 2px solid $color-fret-shadow;

                &::before {
                    content: '#{$i}';
                    position: absolute;
                    top: -2rem;
                    left: -2.2rem;
                    color: $color-gray-900;
                }
            }
        }

    }

    &__nut {
        position: absolute;
        top: 0;
        left: 2;
        height: $neck-height;
        width: $nut-width;
        background-color: $color-white;
        border-left: 1.5px solid $color-gray-100;
        z-index: 1;
    }

    &__dot {
        position: absolute;
        top: 51.1%;
        background-color: $color-dot;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 1;

        transform: translate(-50%, -50%);
        
        
        &--1 {
            left: 10.5%;
        }
        &--2 {
            left: 18.7%;
            
        }
        &--3 {
           left: 27%;
        }
        &--4 {
            left: 35.3%;
            
        }
        &--5 {
            top: 80%;
            left: 47.7%;

            &::after {
                content: '';
                position: absolute;
                top: -14.7rem;
                left: 0;
                background-color: inherit;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                z-index: inherit;

            }

        }
        &--6 {
            left: 60.05%;
            
        }
        &--7 {
            left: 68.3%;
            
        }
        &--8 {
            left: 76.6%;
            
        }
        &--9 {
            left: 84.9%;
            
        }
        &--10 {
            top: 80%;
            left: 97.3%;
    
            &::after {
                content: '';
                position: absolute;
                top: -14.7rem;
                left: 0;
                background-color: inherit;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                z-index: inherit;
    
            }
    
        }
    }
    
}