@use "../abstracts" as *;

.tab-bar {
    position: relative;
    height: 20rem;
    background-color: $color-gray-100;
    
    margin: 10rem 5rem;

    &__string {
        background-color: $color-black;
        width: 100%;
        position: absolute;
        z-index: 2;

        // For looping 6 strings with proper spacing and size.
        @for $i from 1 to 7 {
            &--#{$i} {
                top: calc(20% * #{$i} - 20%);
                height: calc(0.4rem - 0.02rem * #{$i})
            }
        }
    }

    &__note {
        background-color: blue;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-left: 3rem;
        transform: translateY(-1.5rem);
    }
}