@use "../abstracts" as *;


.tab-bar {
    background-color: $color-white;
    text-align: start;
    height: 40rem;


    &__title {
        font-size: 2rem;       
        display: inline-block;
    }

    &__action-buttons {
        display: inline-block;
        float: right;
    }

  &__string-container {
    position: relative;
    display: block;
    height: 80%;
    margin-top: 5.5rem;
    font-family:monospace;
    }

    &__string {
        background-color: $color-black;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-evenly;


        // For looping 6 strings with proper spacing and size.
        @for $i from 1 to 7 {
            &--#{$i} {
                top: calc(20% * #{$i} - 20%);
                height: calc(0.4rem - 0.04rem * #{$i})
            }
            

        }

        &--1 {
            &::before {
                @include stringIndicator; 
                content: 'e';
            }
        }
        &--2 {
            &::before {
         @include stringIndicator;
                content: 'B';  
            }
        }
        &--3 {
            &::before {
                @include stringIndicator;
                content: 'G';  
            }
        }
        &--4 {
            &::before {
                @include stringIndicator;
                content: 'D';  
            }
        }
        &--5 {
            &::before {
                @include stringIndicator;
                content: 'A';  
            }
        }
        &--6 {
            &::before {
                @include stringIndicator;
                content: 'E';  
            }
        }
    }

  

    &__note {
        
         width: 3rem;
         height: 3rem;
         border-radius: 2px;
         transform: translateY(-1.5rem);
         font-size: 3rem;

        border: 1px solid $color-gray-100;
        text-align: center;
        background-color: $color-white;
        color: $color-black;
        cursor: pointer;
    
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
        }

        &:hover {
            background-color: $color-gray-300;
        }

    }
}